body {
	width:100%;
	height:100%;
	padding: 0;
	margin: 0;
}

.wrapper {
    margin: 0 auto;
}

.title {
    text-align: center;
    padding: 0;
    margin: 0;
}
.title h1 {
    font-size: 2em;
    padding: 0;
    margin: 6px 0;
}
.title h2 {
    font-size: 1.4em;
    padding: 0;
    margin: 6px 0;
}
.center-align {
    text-align: center;
}

.sephir-block {
    background: #cfe7fa; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #cfe7fa 0%, #6393c1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #cfe7fa 0%,#6393c1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #cfe7fa 0%,#6393c1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ 
    width: 600px;
    margin: auto;
    position: relative;
}
/*.tree {
    background: #cfe7fa; 
    background: -moz-linear-gradient(-45deg, #cfe7fa 0%, #6393c1 100%); 
    background: -webkit-linear-gradient(-45deg, #cfe7fa 0%,#6393c1 100%); 
    background: linear-gradient(135deg, #cfe7fa 0%,#6393c1 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=1 ); 
}*/
g.sephir circle {
    fill: #fff;
    stroke: orange;
    r:25;
}
g.sephir text {
    font-family: 'Verdana', sans-serif;
    font-size: 0.5em;
    fill: #000;
    text-anchor: middle;
    alignment-baseline: middle;
}

g.sephir {
    cursor: pointer;
}

g.sephir:hover circle {
    transition: 0.5s;
    r:35;
}
g.sephir:hover text {
    transition: 0.5s;
    font-size: 0.8em;
}

/*
** sefers
*/

.sephir.sephir-kether circle {
    fill: gold;
}

.sephir.sephir-chokmah circle {
    fill: white;
    stroke: #dedede;
}

.sephir.sephir-binah circle {
    fill: #292828;
    stroke: #dedede;
}
.sephir.sephir-binah text {
    fill: white;
}
.sephir.sephir-daat circle {
    fill: grey; 
    stroke: #dedede;
    opacity: 0.6;
}

.sephir.sephir-gevurah circle {
    fill: #e63737;
    stroke: red;
}
.sephir.sephir-chesed circle {
    fill: #227fff;
    stroke: #2196F3; 
}
.sephir.sephir-thifareth circle {
    fill: #ffff49;
    stroke: #f1aa11; 
}
.sephir.sephir-netzach circle {
    fill: #43a043;
    stroke: #228b22;
}
.sephir.sephir-hod circle {
    fill: #ffb630;
    stroke: #ffa500; 
}
.sephir.sephir-yesod circle {
    stroke: #706cbb;
    fill: #8a74b7; 
}
.sephir.sephir-malkuth circle {
    fill: #965d34; 
    stroke: #84491f;
}

.tree-image {
    text-align: center;
    position: relative;
}


/***/

.description {
    width: 160px;
    margin: auto;
    border: 1px solid #a9a9a9;
    background: #eee;
    padding: 5px;
    text-align: left;
    line-height: 1.2;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 13px;
}
.description h4 {
    padding: 0;
    margin: 6px 0;
    font-size: 14px;
}
.description .close {
    cursor:pointer;
    position: absolute;
    right: -9px;
    top: -9px;
    background: #eee;
    border: 1px solid #a9a9a9;
    border-radius: 50%;
    padding: 3px 2px 3px 3px;
    text-align: center;
    width: 12px;
    height: 12px;
    line-height: 1;
    font-size: 12px;
}
.description .close:hover {
    border: 1px solid #e63737;
    color: #e63737;
}